version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: reservebnb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 5s
      timeout: 5s
      retries: 5
  backend:
    build: ./backend
    ports:
      - "5001:5001"  # Cambiado a 5001:5001
    depends_on:
      db:
        condition: service_healthy
    environment:
      PORT: 5001
      DATABASE_URL: postgres://user:pass@db:5432/reservebnb
      JWT_SECRET: x7k9m3p8zq2w5r4t
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
volumes:
  pgdata: